{% extends 'backoffice/base.html' %}
{% load static %}

{% block 'head' %}
<style>
	body {
		background: #f0f2f8;
	}
</style>
{% endblock %}

{% block 'body' %}
<header class="pc-header ">
		<div class="header-wrapper d-flex flex-row-reverse">
			<ul class="list-unstyled">
				<li class="dropdown pc-h-item">
					<a
						class="pc-head-link dropdown-toggle arrow-none me-0"
						data-bs-toggle="dropdown"
						href="#"
						role="button"
						aria-haspopup="false"
						aria-expanded="false"
					>
						admin@demoart.com
					</a>
					<div class="dropdown-menu dropdown-menu-end pc-h-dropdown">
						<a href="{% url 'logout' %}" class="dropdown-item">
							<i data-feather="log-out"></i>
							<span>Logout</span>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</header>




<nav class="pc-sidebar ">
	<div class="navbar-wrapper">
		<div class="m-header">
			<a href="index.html" class="b-brand">
				<!--
				<img src="{% static 'backoffice/images/logo-dark.svg' %}" alt="" class="logo logo-lg">
				<img src="assets/images/logo-sm.svg" alt="" class="logo logo-sm">
				-->
			</a>
		</div>
		<div class="navbar-content ps ps--active-y">
			<ul class="pc-navbar">
				<li class="pc-item pc-caption">
					<label>Navigation</label>
				</li>
				<li class="pc-item">
					<a href="index.html" class="pc-link ">
						<span class="pc-micon">
							<i data-feather="home"></i>
						</span>
						<span class="pc-mtext">Dashboard</span>
					</a>
				</li>
				<li class="pc-item active">
					<a href="index.html" class="pc-link ">
						<span class="pc-micon">
							<i data-feather="image"></i>
						</span>
						<span class="pc-mtext">Products</span>
					</a>
				</li>
				<li class="pc-item">
					<a href="index.html" class="pc-link ">
						<span class="pc-micon">
							<i data-feather="file-text"></i>
						</span>
						<span class="pc-mtext">Orders</span>
					</a>
				</li>
				<li class="pc-item">
					<a href="index.html" class="pc-link ">
						<span class="pc-micon">
							<i data-feather="dollar-sign"></i>
						</span>
						<span class="pc-mtext">Affiliates</span>
					</a>
				</li>
			</div>
	</div>
</nav>
{% endblock %}
